/* the styles for the elements */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 600px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;

}
html {
	background-color: white;
}
/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}
/* Main CSS */
main {
	clear: left;
	padding-left: 30px;
	padding-right: 30px;
}

main h1 {
	font-size: 150%;
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;	
}
main h2 {
	font-size: 130%;
	color: #800000;
}
main h3 {
	font-size: 105%;
}
a:hover, a:focus {
	font-style: italic;
}
footer {
	border: 3px solid #931420;
	background-color: #931420;
}
footer p {
	text-align: center;
	color: white;
}
.shadow {
	text-shadow: 1px 1px #800000;
}

/* the styles for the section */

/* the styles for the footer */
